<!DOCTYPE html>
<html lang="zh-CN">
<head>
{{ partial "head.html" . }}
{{ block "jsonld" . }}{{ end }}
</head>
<body{{ if and .Params.cityColor .File }} data-city="{{ .File.ContentBaseName }}"{{ end }}{{ if .Params.layoutStyle }} class="layout-{{ .Params.layoutStyle }}"{{ end }}>
{{ partial "nav.html" . }}
{{ block "main" . }}{{ end }}
{{ partial "footer.html" . }}
<script src="{{ .Site.Data.site.basepath }}/js/api.js" defer></script>
<script src="{{ .Site.Data.site.basepath }}/js/user-nav.js" defer></script>
<script src="{{ .Site.Data.site.basepath }}/js/subscribe.js" defer></script>
<script src="{{ .Site.Data.site.basepath }}/js/all-cities-toggle.js" defer></script>
</body>
</html>
