<nav class="nav" aria-label="主导航">
  <div class="nav-inner">
    <a href="{{ .Site.Data.site.basepath }}/" class="nav-logo"><img src="{{ .Site.Data.site.basepath }}/images/logo.svg" alt="闲游" class="nav-logo-icon" width="32" height="32">闲游</a>
    <ul class="nav-links">
      <li><a href="{{ .Site.Data.site.basepath }}/#cities">热门城市</a></li>
      <li><a href="{{ .Site.Data.site.basepath }}/#tips">旅行贴士</a></li>
      <li><a href="{{ .Site.Data.site.basepath }}/#about">关于我们</a></li>
      <li><a href="{{ .Site.Data.site.basepath }}/login/" class="nav-login-btn">登录 / 注册</a></li>
    </ul>
  </div>
</nav>
